{% extends 'home/layout/base.html' %}
{% block main %}
<div class="grid">
    <h2 class="card-title mt-4">Mostrando usuarios</h2>
    {% for user in lista_usuario %}
    <div class="card mb-4 mt-5" id="card1">
            <div class="col-md-12">
                <div class="card-body">
                    <h5 class="card-title">Datos del Usuario</h5>
                    <p class="card-text"><td>{{ user.nombre }}</td></p>
                    <p class="card-text"><td>{{ user.apellido }}</td></p>
                    <p class="card-text"><td>{{ user.rut }}</td></p> 
                    <p class="card-text"><td>{{ user.email }}</td></p> 
                    <p class="card-text">
                        <small class="text-muted"><td>{{ user.fecha_registro }}</td></small>
                    </p>
                </div>
            </div>
    </div>
</div>
{% endfor %}
{% endblock main %} 